*, ul {
  margin: 0px;
  padding: 0px;
}

/* Header */

#header {
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  padding: 20px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  background-color: transparent;
}

#header a {
  color: white;
}

#logo {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  background-color: rgba(29, 28, 29, 1);
  border-radius: 10px;
  padding: 0px 10px;
}

#logo span {
  color: #FE002D;
}

#nav {
  display: flex;
  align-items: center;
}

#menu {
  display: flex;
  align-items: flex-start;
  list-style: none;
  gap: 50px;
  font-size: 20px;
  font-weight: bold;
  background-color: #1D1C1D;
  border-radius: 10px;
}

#menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  border: rgba(29, 28, 29, 0.5) solid 1px;
  border-radius: 10px;
  transition: 0.7s all;
}

#menu a:hover {
  color: #FE002D;
  border: white solid 1px;
  border-radius: 10px;
  transition: 0.7s all;
}

#btn-mobile {
  display: none;
}

/* Main */

#main{
  display: flex;
  flex-direction: column;
  background: radial-gradient(ellipse at bottom, #1D1C1D 0%, #171617 100%);
}

/* Home */
#section-content {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  height: 100vh;
  margin-left: 100px;
  width: 78%;
}

#h1{
  font-size: 70px;
  letter-spacing: 2px;
  line-height: 1.5;
  font-weight: bold;
}

#h2 {
  font-size: 50px;
  letter-spacing: 2px;
  color: #FE002D;
  font-weight: bold;
}

#h3 {
  line-height: 2;
  font-size: 25px;
}

#h3::after {
  content: "|";
  margin-left: 5px;
  opacity: 1;
  animation: flashing .7s infinite;
}

@keyframes flashing {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#curriculo, #curriculo:active {
  display: flex;
  justify-content: center;
  width: 250px;
  margin-top: 50px;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  border: #FE002D solid 1px;
  border-radius: 10px;
  background-color: #FE002D;
  color: white;
  cursor: pointer;
  transition: 0.7s all;
  text-decoration: none;
}

#curriculo:hover {
  background-color: transparent;
  border: white solid 1px;
  transition: 0.7s all;
}

#social-media {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 250px;
  margin-top: 40px;
  font-size: 50px;
}

#social-media a {
  color: white;
  cursor: pointer;
  transition: 0.7s all;
}

#social-media a:hover {
  color: #FE002D;
  cursor: pointer;
  transition: 0.7s all;
}

/* Skills */

#section-skills {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: flex-start;
  width: 100%;
  margin-top: 200px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

#section-skills-content {
  margin-top: 110px;
}

#main-skills-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

#skills-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.skill-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #E3DEE3 solid 1px;
  border-radius: 10px;
  background-color: #423E42;
  opacity: 0.6;
  width: 250px;
  padding: 80px 50px;
  margin: 20px;
  font-size: 25px;
  font-weight: bold;
  transition: 0.7s all;
} 

.skill-icon-container:hover {
  opacity: 1;
  border: #FE002D solid 1px;
  color: #FE002D;
  transition: 0.7s all;
}

.skill-icon-container img {
  width: 100px;
}

/* Project */

.project-container {
  display: flex;
  width: 650px;
  margin-top: 30px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.project-container img {
  width: 570px;
  height: 280px;
  opacity: 65%;
  margin-left: 30px;
  padding-left: 10px;
  background-color: #EDEAED;
  border-radius: 10px 0px 0px 10px;
  transition: 0.7s all;
}

.project-container img:hover {
  opacity: 100%;
  background-color: #FE002D;
  transition: 0.7s all;
}

#section-project-content {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: flex-start;
  width: 100%;
  margin-top: 100px;
  flex-wrap: wrap;
}

.title {
  font-size: 50px;
  letter-spacing: 3px;
  margin-left: 50px;
}

.div-content {
  width: 80px;
  border: none;
  background-color: #FE002D;
  height: 3px;
  margin-left: 50px;
  margin-top: 0px;
  opacity: 1;
}

#main-project-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.project-discribe {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width: 80%;
  flex-wrap: wrap;
}

.project-discribe h3 {
  font-size: 35px;
  line-height: 2;
}

.project-discribe h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.project-discribe h5 {
  font-size: 16px;
  color: #FE002D;
  font-weight: bold;
}

.buttom-discribe {
  display: flex;
  gap: 20px;
}

.buttom-discribe a, .buttom-discribe a:active {
  background-color: #FE002D;
  padding: 10px 45px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  border: #FE002D solid 1px;
  margin-top: 20px;
  transition: 0.7s all;
}

.buttom-discribe a:hover {
  background: transparent;
  border: white solid 1px;
  transition: 0.7s all;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1D1C1D;
  color: white;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
}

/* ScrollBar */
body::-webkit-scrollbar-track {
  background-color: #1D1C1D;
}
body::-webkit-scrollbar {
  width: 15px;
  background-color: #1D1C1D;
}
body::-webkit-scrollbar-thumb {
  background: #FE002D;
  border-radius: 10px;
}

/* Responsive */

@media screen and (max-width: 1640px) {
  
  #h1{
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 1.5;
    font-weight: bold;
  }
  
  #h2 {
    font-size: 35px;
    letter-spacing: 2px;
    color: #FE002D;
    font-weight: bold;
  }
  
  #h3 {
    line-height: 2;
    font-size: 20px;
  }
}

@media screen and (max-width: 1185px) {
  
  #h1{
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 1.5;
    font-weight: bold;
  }
  
  #h2 {
    font-size: 25px;
    letter-spacing: 2px;
    color: #FE002D;
    font-weight: bold;
  }
  
  #h3 {
    line-height: 2;
    font-size: 16px;
  }

  #curriculo {
    width: 200px;
    margin-top: 30px;
    padding: 10px;
    font-size: 18px;
  }
  
  #social-media {
    gap: 30px;
    width: 200px;
    margin-top: 30px;
    font-size: 45px;
  }
}

@media screen and (max-width: 900px) {

  #header {
    padding-right: 30px;
    padding-left: 10px;
  }

  #header a {
    font-size: 20px;
  }

  #menu {
    display: block;
    position: absolute;
    width: 125px;
    top: 0px;
    right: 20px;
    background-color: rgba(29, 28, 29, 1);
    height: 0px;
    z-index: 1000;
    transition: .6s;
    visibility: hidden;
    overflow-y: hidden;
    margin-top: 10px;
    padding-top: 60px;
  }

  #menu a {
    font-size: 15px;
    font-weight: 300;
    border: none;
    margin: 15px 1px 1rem;
    text-align: center;
    font-weight: 600;
  }

  #menu a:hover {
    border: none;
  }

  #nav.active #menu {
    height: 265px;
    border-radius: 10px;
    visibility: visible;
    overflow-y: auto;
  }

  #btn-mobile {
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    font-size: 15px;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
    color: white;
    border: #FE002D solid 2px;
    border-radius: 10px;
    background-color: #1D1C1D;
    position: relative;
    z-index: 5000;
  }

  #icon-mobile {
    display: block;
    color: #FE002D;
    border-top: solid 2px;
    width: 20px;
  }

  #icon-mobile::after, #icon-mobile::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }

  #nav.active #icon-mobile {
    border-top-color: transparent;
  }

  #nav.active #icon-mobile::before {
    transform: rotate(135deg);
  }

  #nav.active #icon-mobile::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .skill-icon-container {
    width: 150px;
    padding: 8px 5px;
    margin: 20px;
    font-size: 20px;

  } 
}

@media screen and (max-width: 879px) {
  
  #h1{
    font-size: 25px;
  }
  
  #h2 {
    font-size: 20px;
  }
  
  #h3 {
    font-size: 14px;
  }

  #curriculo {
    width: 150px;
    margin-top: 30px;
    padding: 5px;
    font-size: 14px;
  }
  
  #social-media {
    width: 150px;
    margin-top: 25px;
    font-size: 30px;
  }
}

@media screen and (max-width: 605px) {

  #section-content {
    margin-left: 20px;
    width: 78%;
  }

  .title {
    font-size: 30px;
    letter-spacing: 3px;
    margin-left: 50px;
  }

  .project-container {
    width: 100%;
  }
  
  .project-container img {
    width: 300px;
    height: 150px;
    margin-left: 30px;
    padding-left: 10px;
  }

  .project-discribe h3 {
    font-size: 20px;
    line-height: 2;
  }
  
  .project-discribe h4 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .project-discribe h5 {
    font-size: 13px;
    color: #FE002D;
    font-weight: bold;
    margin-top: 10px;
  }

  .buttom-discribe a {
    font-size: 13px;
  }

  .skill-icon-container {
    width: 100px;
    margin: 5px;
    font-size: 15px;
  } 

  .skill-icon-container img {
    width: 80px;
  }
}

@media screen and (max-width: 385px) {
 
 .skill-icon-container {
    width: 100px;
    margin: 5px;
    font-size: 15px;
  } 

  .skill-icon-container img {
    width: 80px;
  }
}